<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Maps</ion-title>
    <ion-buttons slot="end">
  <ion-button routerLink="/createpoint">
    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
  </ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map" style="height: 100%;"></div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin-bottom: 32px; margin-right: 16px;">
    <ion-fab-button routerLink="/createpoint">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
