.card-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, rgb(223, 29, 148) 0%, rgb(22, 213, 51) 100%);
}
