<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-item>
    <ion-label>Mobile Legend</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>PUBG</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>COC</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Block Blast</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Magic Chess</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>eFootball</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Candy Crush</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Roblox</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Ludo King</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Subway Surfers</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Among Us</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Clash Royale</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Township</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Piano Tiles</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Temple Run</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Honor Of Kings</ion-label>
  </ion-item>
</ion-list>
</ion-content>
